body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    background: #ff66b3;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo {
    font-size: 24px;
    margin-left: 25px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: white;
    color: #ff66b3;
    border-radius: 5px;
}

.banner {
    text-align: center;
    padding: 100px 20px;
    background: #ffe6f2;
}

.banner h1 {
    font-size: 45px;
    color: #ff4da6;
    margin: 10px 0;
}

.banner p {
    font-size: 18px;
}

.about {
    padding: 60px 20px;
    text-align: center;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #ff4da6;
}

.powerpopgirl img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}

.powerpopgirl h3 {
    margin-bottom: 5px;
    color: #ff4da6;
}

.powerpopgirl p{
    margin: 0;
    padding: 0;
}

.tools {
    padding: 60px 20px;
    text-align: center;
}

.tools h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #ff4da6;
}

.tools-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.tool {
    background: #ff66b3;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
}

.projects {
    padding: 60px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #ff4da6;
}

.projects-list img{
    margin: 0;
    height: 400px;
    flex-wrap: wrap;
}

.projects-list{
    
}

.project {
    width: 200px;
    height: 120px;
    background: #ffe6f2;
    border: 2px solid #ff66b3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contact {
    padding: 50px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #ff4da6;
}

footer {
    background: #ff66b3;
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 40px;
}